@page
@model AspFoodProject.Pages.contactModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Food Recipe a hotel Category Flat Bootstrap Responsive Website Template </title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Food Recipe a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- //custom-theme -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

	<!-- gallery -->
	<link rel="stylesheet" href="css/lightGallery.css" type="text/css" media="all" />
	<!-- //gallery -->

	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- font-awesome-icons -->
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<!-- //font-awesome-icons -->
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->

</head>



	<script>
		/*Put the JavaScript code here*/
		function validateForm() {
			var name = document.forms["myForm"]["name"];
			var email = document.forms["myForm"]["email"];
			var phone = document.forms["myForm"]["phone"];

			var message = document.forms["myForm"]["message"];

			if (name.value == "" || name.value.length < 5) {
				document.getElementById('errorname').innerHTML = "Please enter a valid name";
				name.focus();
				return false;
			} else {
				document.getElementById('errorname').innerHTML = "";
			}

			if (email.value == "") {
				document.getElementById('erroremail').innerHTML = "Please enter a valid email address";
				email.focus();
				return false;
			} else {
				document.getElementById('erroremail').innerHTML = "";
			}



			if (email.value.indexOf(".", 0) < 0) {
				document.getElementById('erroremail').innerHTML = "Please enter a valid email address";
				email.focus();
				return false;
			}

			if (phone.value == "") {
				document.getElementById('errorphone').innerHTML = "Please enter a valid Phone Number";
				email.focus();
				return false;
			} else {
				document.getElementById('errorphone').innerHTML = "";
			}

			if (phone.value.length < 10) {
				document.getElementById('errorphone').innerHTML = "Please enter a valid phone number";
				email.focus();
				return false;
			}
			if (message.value == "") {
				document.getElementById('errormsg').innerHTML = "Please enter a valid message";
				message.focus();
				return false;
			} else {
				document.getElementById('errormsg').innerHTML = "";
			}

			return true;
		}
	</script>


	<style>
		body {
			font-family: Calibri, Helvetica, sans-serif;
			background-image: url('/Images/text1.jpg');
		}
	</style>
	<body>
	<div class="banner-header banner2">
		<div class="banner-dott1">
			<!--header-->
			<div class="banner-header">
				<!--header-->
				<div class="header">
					<div class="container-fluid">
						<nav class="navbar navbar-default">
							<div class="navbar-header navbar-left">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="w3_navigation_pos">
									<h1><a class="nav-link text-dark" asp-area="" asp-page="/Index">Food Recipe</a></h1>
								</div>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
								<nav>
									<ul class="nav navbar-nav">
										<li class="active">
											<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
										</li>
										<li>
											<a class="nav-link text-dark" asp-area="" asp-page="/about">About</a>

										</li>
										<li>
											<a class="nav-link text-dark" asp-area="" asp-page="/services">Services</a>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Manage<b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item" asp-area="" asp-page="/gallery">RECIPE</a>

												</li>
												<li>
													<a class="dropdown-item" asp-area="" asp-page="/gallery1">EVENT</a>
												</li>



											</ul>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Admin <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Categories" asp-action="Index">Add Category</a>

												</li>
												<li>
													<a class="dropdown-item"
													   asp-area="Food" asp-controller="SubCategories" asp-action="Index">Add SubCategory</a>
												</li>

												<li>
													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Customers" asp-action="Index"> Customer</a>
												</li>
												<li>
													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Competitions" asp-action="Index">Add Event</a>
												</li>
												<li>
													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Comments" asp-action="Index">Add Comment</a>
												</li>
												<li>
													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Registerations" asp-action="Index">Registeration</a>
												</li>

											</ul>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">User <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item"
													   asp-area="ManageTable" asp-controller="Home" asp-action="Index">Subcategory</a>
												</li>
												<li>
													<a class="dropdown-item"
													   asp-area="ManageTable" asp-controller="Home" asp-action="Index1">Recipe</a>
												</li>
												<li>
													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Recipes" asp-action="Index1">Add Recipe</a>
												</li>
												
												<li>

													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Customers" asp-action="ShowComment"> Comment</a>
												</li>
												<li>

													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Customers" asp-action="ShowCompetition"> Events</a>
												</li>
												<li>
													<a class="dropdown-item"
													   asp-area="Food" asp-controller="Registerations" asp-action="Index1">Add Registeration</a>
												</li>
											</ul>
										</li>
										<li class="#">
											<a class="nav-link text-dark" asp-area="" asp-page="/contact">Contact</a>

										</li>



									</ul>
								</nav>
							</div>
						</nav>
					</div>
				</div>
				<!--//header-->
			</div>
		</div>
		<!--//header-->
	</div>
	</div>





	<!-- contact -->
	<div class="contact">
		<div class="container">
			<h2 class="heading">Contact <span>Us</span></h2>
			<p class="heading">Get In Touch</p>
			<div class="contact-agileinfo">
				<div class="col-md-7 contact-right">
					 <form name="myForm" asp-area="" asp-page="/Index2" onsubmit="return validateForm()" method="post">
         <table class="form-style">
            <tr>
               <td>
                  <label>
                     Your Name <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <input type="text" name="name" class="long"/>
                  <span class="error" id="errorname"></span>
               </td>
            </tr>
            <tr>
               <td>
                  <label>
                    Your Email Address <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <input type="email" name="email" class="long"/>
                  <span class="error" id="erroremail"></span>
               </td>
            </tr>
			<tr>
               <td>
                  <label>
                    Your Phone No <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <input type="tel" name="phone" class="long"/>
                  <span class="error" id="errorphone"></span>
               </td>
            </tr>
            <tr>
               <td>
                  <label>
                     Message <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <textarea name="message" class="long field-textarea"></textarea>
                  <span class="error" id="errormsg"></span>
               </td>
            </tr>
            <tr>
               <td></td>
               <td>
                  <input type="submit" value="Send">      
                  <input type="reset" value="Reset"> 
               </td>
            </tr>
         </table>
      </form>
				</div>
				<div class="col-md-5 contact-left">
					<div class="address">
						<h5>Address:</h5>
						<p><i class="glyphicon glyphicon-home"></i> 333 Broome St New York, NY 10002, USA</p>
					</div>
					<div class="address address-mdl">
						<h5>Phones:</h5>
						<p><i class="glyphicon glyphicon-earphone"></i> +14 999 888 7773</p>
						<p><i class="glyphicon glyphicon-phone"></i> +12 222 333 2365</p>
					</div>
					<div class="address">
						<h5>Email:</h5>
						<p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:info@example.com">mail@example.com</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="agileits-w3layouts-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen></iframe>
	</div>
	<!-- //contact -->
	<!-- News letter -->
	<div class="agile-form">
		<div class="container">
			<div class="col-md-4 newsletter">
				<p>Subscribe to our newsletter</p>
				<h4>For our latest updates</h4>
			</div>
			<div class="col-md-8">
				<form name="myForm" asp-area="" asp-page="/Index2" method="post">
					<input type="email" name="email" placeholder="Enter Your Email Address" required="">
					<input type="submit" value="">
				</form>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- News letter -->
	<!-- Footer -->
	<div class="footer w3ls">
		<div class="container">
			<div class="footer-main">
				<div class="footer-top">
					<div class="col-md-4 ftr-grid fg1">
						<h3>opening timings</h3>
						<p><span class="fa fa-clock-o" aria-hidden="true"></span><span>Mon - friday</span> : 9am to 8pm</p>
						<p><span class="fa fa-clock-o" aria-hidden="true"></span><span>Saturday</span> : 9am to 5pm</p>
						<p><span class="fa fa-clock-o" aria-hidden="true"></span><span>Sunday</span> : 6am to 11pm</p>
					</div>
					<div class="col-md-4 ftr-grid fg2 mid-gd">
						<h3>Our Address</h3>
						<div class="ftr-address">
							<div class="local">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="ftr-text">
								<p> New york, USA</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="ftr-address">
							<div class="local">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="ftr-text">
								<p>+1 (512) 154 8176</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="ftr-address">
							<div class="local">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="ftr-text">
								<p><a href="mailto:info@example.com">info@example.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4 ftr-grid fg2">
						<h3>Recent posts</h3>
						<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
						<div class="more-button">
							<a href="#">Read more</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>

			</div>
		</div>
	</div>
	<div class="copyrights">
		<div class="container">
			<div class="copyright">
				<p>
					&copy; 2017 Food Recipe. All Rights Reserved   &nbsp;|&nbsp;
					<a href="/swagger">Open API Documentation</a>
				</p>
			</div>
			<div class="social-icons">
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Footer -->
	<!-- Owl-Carousel-JavaScript -->
	<script src="js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 5,
				lazyLoad: true,
				autoPlay: true,
				pagination: true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->
	<!-- flexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- //flexSlider -->
	<!-- start-smoth-scrolling -->
	<script src="js/SmoothScroll.min.js"></script>

	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>

	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->

</body>
</html>

