@page
@model AspFoodProject.Pages.Index2Model
@{
}

<h1 style="color:darkmagenta"> <center>Thank you for Contacting us!!</center> </h1>

<p>
    <center>
        <button type="button" class="btn btn-primary"> <a style="color:black" asp-area="" asp-page="/contact">Back To Home</a> </button>

    </center>
</p>